<p id="notice"><%= notice %></p>

<p>
  <strong>Title</strong>
  <%= @board.title %>
</p>

<p>
  <strong>Body</strong>
  <%= @board.body %>
</p>

<%= link_to 'Edit', edit_board_path(@board) %>
<%= link_to 'Back', boards_path %>
